.login-button:hover{
    cursor: pointer;
    background-color: rgb(13, 142, 13);
    box-shadow: 1px 1px 1px #999;
  }
  .reserv:hover{
    cursor: pointer;
    background-color: rgba(85, 85, 85, 0.289);
    box-shadow: 1px 1px 1px #999;
  }
  .reser:hover{
    cursor: pointer;
    background-color: rgba(85, 85, 85, 0.289);
    box-shadow: 1px 1px 1px #999;
  }